
<div class="multipurpose-container about-members-container">
  <div class="row">
    <div class="col-md-3 about-img">
      <img src="/assets/img/about/member/kotaro.jpg" alt="Kotaro Kanazawa" class="img-fluid">
    </div>
    <div class="col-md-9 about-member-info">
      <h3>金澤 航太郎 / Kotaro Kanazawa</h3>
      <p><strong>Role:</strong> Team Leader and Software Developer</p>
      <p><strong>Interests:</strong> Motion Planning for Crawler Robots, Autonomous Navigation, Teleoperation, Virtual Reality, Localization and Mapping.</p>
      <p>
        <a href="https://x.com/clp13214" target="_blank">
          <i class="fa fa-twitter fa-fw"></i>&nbsp;@clp13214
        </a><br>
        <a href="https://github.com/kotarokanazawa" target="_blank">
          <i class="fa fa-github fa-fw"></i>&nbsp;kotarokanazawa
        </a><br>
        <a href="mailto:clp13214@nitech.jp">
          <i class="fa fa-envelope-o fa-fw"></i>&nbsp;
        </a>
      </p>
    </div>
  </div>
</div>

<div class="multipurpose-container about-members-container">
    <div class="row">
    <div class="col-md-3 about-img">
        <!-- 写真をアップロードして記述する -->
      <img src="/assets/img/about/member/no_image.jpg" alt="Name" class="img-fluid">
    </div>
    <div class="col-md-9 about-member-info">
      <h3>Name</h3>
      <p><strong>Role:</strong> - </p>
      <p><strong>Interests:</strong> - </p>
      <p>
        <!-- <a href="https://x.com/clp13214" target="_blank">
          <i class="fa fa-twitter fa-fw"></i>&nbsp;@clp13214
        </a><br>
        <a href="https://github.com/kotarokanazawa" target="_blank">
          <i class="fa fa-github fa-fw"></i>&nbsp;kotarokanazawa
        </a><br>
        <a href="mailto:clp13214@nitech.jp">
          <i class="fa fa-envelope-o fa-fw"></i>&nbsp;
        </a> -->
      </p>
      </p>
    </div>
  </div>
</div>

