<div class="multipurpose-container about-members-container">
  <h2>Team Members</h2>
  <div class="row">
    <div class="col-md-3 about-img">
      <img src="/assets/img/about/member/kotaro.jpg" alt="Kotaro Kanazawa" class="img-fluid">
    </div>
    <div class="col-md-9 about-member-info">
      <h3>Kotaro Kanazawa</h3>
      <p><strong>Role:</strong> Team Leader and Developer</p>
      <p><strong>Interests:</strong> Motion Planning for Crawler Robots, Autonomous Navigation, Teleoperation, Virtual Reality, Localization, and Mapping.</p>
      <p>
        <a href="https://x.com/clp13214" target="_blank">Twitter @clp13214</a><br>
        <a href="https://github.com/kotarokanazawa" target="_blank">GitHub kotarokanazawa</a>
      </p>
    </div>
  </div>
</div>