

<!-- <div class="multipurpose-container about-members-container">
    <div class="row">
    <div class="col-md-3 about-img">
      <img src="/assets/img/about/member/rmatsuoka.jpg" alt="Name" class="img-fluid">
    </div>
    <div class="col-md-9 about-member-info">
      <h3>松岡 遼馬 / Ryoma Matsuoka</h3>
      <p><strong>Role:</strong> Image Processing and Hardware </p>
      <p><strong>Interests:</strong> Image Processing, Machine Learning, YOLO </p>
    </div>
  </div>
</div> -->

<!-- <div class="multipurpose-container about-members-container">
  <div class="row">
  <div class="col-md-3 about-img">
    <img src="/assets/img/about/member/KMiyata.jpg" alt="Name" class="img-fluid">
  </div>
  <div class="col-md-9 about-member-info">
    <h3>宮田 莞杏 / Kanan Miyata</h3>
    <p><strong>Role:</strong> Operator and Hardware </p>
    <p><strong>Interests:</strong> Robot </p>
    <p> -->
      <!-- <a href="mailto:cmt13179@nitech.jp">
        <i class="fa fa-envelope-o fa-fw"></i>&nbsp;mail
      </a>
      <a href="https://github.com/k" target="_blank">
        <i class="fa fa-github fa-fw"></i>&nbsp;kotarokanazawa
      </a>
      <a href="https://x.com/clp13214" target="_blank">
        <i class="fa fa-twitter fa-fw"></i>&nbsp;@clp13214
      </a> -->
    <!-- </p>
  </div>
</div>
</div> -->



<div class="multipurpose-container about-members-container">
    <div class="row">
    <div class="col-md-3 about-img">
        <!-- 写真をアップロードして記述する -->
      <img src="/assets/img/about/member/no_image.jpg" alt="Name" class="img-fluid">
    </div>
    <div class="col-md-9 about-member-info">
      <h3>高柳 知典 / Tomonori Takayanagi</h3>
      <p><strong>Role:</strong> Hardware </p>
      <p><strong>Interests:</strong>autonomous robots </p>
      <p>
        <!-- <a href="mailto:t.kimura.605@nitech.ac.jp">
          <i class="fa fa-envelope-o fa-fw"></i>&nbsp;mail
        </a>
        <a href="https://github.com/KimuraTomohiro" target="_blank">
          <i class="fa fa-github fa-fw"></i>&nbsp;KimuraTomohiro
        </a>
        <a href="https://x.com/JR2WLW" target="_blank">
          <i class="fa fa-twitter fa-fw"></i>&nbsp;@JR2WLW
        </a> -->
      </p>
    </div>
  </div>
</div>

<div class="multipurpose-container about-members-container">
    <div class="row">
    <div class="col-md-3 about-img">
        <!-- 写真をアップロードして記述する -->
      <img src="/assets/img/about/member/no_image.jpg" alt="Name" class="img-fluid">
    </div>
    <div class="col-md-9 about-member-info">
      <h3>平林 明樹 / Tomoki Hirabayashi</h3>
      <p><strong>Role:</strong> Software </p>
      <p><strong>Interests:</strong>Drone, SLAM </p>
      <p>
        <!-- <a href="mailto:t.kimura.605@nitech.ac.jp">
          <i class="fa fa-envelope-o fa-fw"></i>&nbsp;mail
        </a>
        <a href="https://github.com/KimuraTomohiro" target="_blank">
          <i class="fa fa-github fa-fw"></i>&nbsp;KimuraTomohiro
        </a>
        <a href="https://x.com/JR2WLW" target="_blank">
          <i class="fa fa-twitter fa-fw"></i>&nbsp;@JR2WLW
        </a> -->
      </p>
    </div>
  </div>
</div>

<div class="multipurpose-container about-members-container">
    <div class="row">
    <div class="col-md-3 about-img">
        <!-- 写真をアップロードして記述する -->
      <img src="/assets/img/about/member/no_image.jpg" alt="Name" class="img-fluid">
    </div>
    <div class="col-md-9 about-member-info">
      <h3>三原 和己 / Kazuki Mihara</h3>
      <p><strong>Role:</strong> YOLO </p>
      <p><strong>Interests:</strong>YOLO </p>
      <p>
        <!-- <a href="mailto:t.kimura.605@nitech.ac.jp">
          <i class="fa fa-envelope-o fa-fw"></i>&nbsp;mail
        </a>
        <a href="https://github.com/KimuraTomohiro" target="_blank">
          <i class="fa fa-github fa-fw"></i>&nbsp;KimuraTomohiro
        </a>
        <a href="https://x.com/JR2WLW" target="_blank">
          <i class="fa fa-twitter fa-fw"></i>&nbsp;@JR2WLW
        </a> -->
      </p>
    </div>
  </div>
</div>

<div class="multipurpose-container about-members-container">
    <div class="row">
    <div class="col-md-3 about-img">
        <!-- 写真をアップロードして記述する -->
      <img src="/assets/img/about/member/no_image.jpg" alt="Name" class="img-fluid">
    </div>
    <div class="col-md-9 about-member-info">
      <h3>宗里 和哉 / Kazuya Munesato</h3>
      <p><strong>Role:</strong> VR </p>
      <p><strong>Interests:</strong>VR </p>
      <p>
        <!-- <a href="mailto:t.kimura.605@nitech.ac.jp">
          <i class="fa fa-envelope-o fa-fw"></i>&nbsp;mail
        </a>
        <a href="https://github.com/KimuraTomohiro" target="_blank">
          <i class="fa fa-github fa-fw"></i>&nbsp;KimuraTomohiro
        </a>
        <a href="https://x.com/JR2WLW" target="_blank">
          <i class="fa fa-twitter fa-fw"></i>&nbsp;@JR2WLW
        </a> -->
      </p>
    </div>
  </div>
</div>
